.container{
    width:95%;
    height: 70%;
    background-color: rgb(243, 255, 255);
    margin:auto;
    border-top: 5px solid rgb(71, 71, 255);
    box-shadow: 1px 1px 5px  #888888;
   
}
.toppart{
    padding: 5%;
  

}
#head-1{
    text-align: center;
    color:rgb(71, 71, 255) ;
    font-family: monospace;
    font-size: 50%;
}
#head-2{
    text-align: center;
    color:rgb(85, 85, 85) ;
    font-family: monospace;
    font-size: 300%;
}
.bottompart{
    display: flex;
    margin: 10% 10% 10% 10%;
}
span{
    font-size: 200%;
    margin:25% 25% 25% 25%;
}
p {
  text-align: center;
  font-size: 200%;
  margin:10% 10% 10% 10%;
  font-family: monospace;
  background-color: #1c243d;
  color: #ffff;
}

.dis{
    display: grid;
    padding: 5%;
    margin: auto;
    width: auto;
}
h6{
    background-color:#1c243d;
    color: #ffff;
    float: right;
    margin-right: 10%;
    padding: 10px;
    height: 10%;
    font-size: 20px;
    border-top-left-radius:1%;
    border-top-right-radius:1%;
    margin-bottom: 5%;
    letter-spacing: 1px;
    font-family: monospace;
}